
 <!DOCTYPE html>
    <html>
        <head> 
            <title> Studentlife Home </title>
            <link type="text/css" rel="stylesheet" href="/style.css"/>
        </head>
            <body> <div>
                    <h1>My StudentLife</h1>
                    <h2>Sport Party Other Calendar Contact </h2>
                    </div>
            </body>
 
 {{{body}}}

 </html>