<h3>Concept</h3>
                <p> Our goal is to enable students easy access to events going on in Paris.
                    We selected three main segments:SPORT,PARTY and OTHER.
                    We are here to match every person going on this website with an event that matches their profile.
                     </p>
                <h3> Who are we?</h3>
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAizAAAAJDEyMzYxZTcxLWE1MGYtNDZkZS1iYWI1LWJkNTgyMTg1NWUzOA.jpg"/>
                            <ul>
                                <li>Name : Abderrahmane alias Abde </li>
                                <li>Age : 24</li>
                                <li>Hobbies : Soccer,Golf</li>
                                <li>Motto:"Always make your dreams reality"</li>
                              
                            </ul>
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAsPAAAAJGYwZDgyZDExLTI2MjQtNDI1ZC04MTRmLWUzZDZhOGU2ZTI4Mg.jpg"/>
                            <ul>
                                <li>Name : Elizabeth alias LA FOLLE</li>
                                <li>Age : 25</li>
                                <li>Hobbies : Netflix and chill</li>
                                <li>Motto: "LIVE LIFE"</li>
                            </ul>
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAfNAAAAJGJkZjhiN2ZiLWIwZTktNGUwNy1hM2IyLWI4NDcxNzNjNDk1Yw.jpg"/>
                            <ul>
                                <li>Name : Pauline alias Paupau</li>
                                <li>Age : 22 </li>
                                <li>Hobbies : Outdoor activities, Food </li>
                                <li>Motto:"Life is a succession of adventures!" </li>
                            </ul>



